@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgb(240, 237, 237);
}

.search{
    background-image: url('/public/search.svg');
    
    background-repeat: no-repeat;
    background-position: 10px;
    background-image: gray;
    background-size: 15px;
    backface-visibility: visible;
}
div.alice-carousel > ul.alice-carousel__dots {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 5px;
    top:75%;
    left: 45%;
    color: black !important;
   height: auto; 
   
}
  
  .alice-carousel__prev-btn{
    top:20%;
    height: auto;
  }
  
  
  .alice-carousel__next-btn {
     
      top: 20%;
      height: auto;
      left:0;
  }
 .alice-carousel__dots-item.__active{
    background: black !important;
   
}

.alice-carousel__dots-item {
    background: white !important;
}

